[submodule "dom/asprilo/asprilo-abstraction-encodings"]
	path = dom/asprilo/asprilo-abstraction-encodings
	url = https://github.com/krr-up/asprilo-abstraction-encodings.git
	branch = torsten/sandbox
[submodule "benchmarks/benchmark-tool"]
	path = benchmarks/benchmark-tool
	url = https://github.com/potassco/benchmark-tool
[submodule "benchmarks/telingo"]
	path = benchmarks/telingo
	url = https://github.com/susuhahnml/telingo.git
	branch = get-program
