[submodule "asprilo-encodings"]
	path = asprilo-encodings
	url = git@github.com:potassco/asprilo-encodings.git
[submodule "asprilo"]
	path = asprilo
	url = git@github.com:potassco/asprilo.git
        branch = develop
